{% extends 'base_log.html' %}

{% block title %}
Описание книги
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p class="item ms-3">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}


<div class="header_book ms-3">
    <h1 class="title_book">{{ book.Title }}</h1>
    <div class="text-end me-2"style="margin-top: 10px;">
        <a href="/Main_log" class="button-custom me-2">Назад к каталогу</a>   
    </div>
</div>
<div class="text-end">  
        <form action="{{ url_for('add_bookmark', book_id=book.id) }}" method="post" id="bookmarkForm">
            <button type="button" class="image-button" id="bookmarkButton" onclick="toggleBookmark()">
                <img id="bookmarkImage" src="{{ url_for('static', filename='image/common_bookmark.png') }}">
            </button>
        </form>
    </div>
<div class="container3 ms-3">
    <img class="cover__img" src="{{ cover_url }}">
    <h3 class="item">Автор: {{ book.Author }}</h3>
    <p class="item">{{ book.About }}</p>
    <a href="{{ url_for('read_book_log', book_id=book.id) }}" class="button-custom me-2">Читать</a>
</div>
<script>
    function toggleBookmark() {
        const img = document.getElementById('bookmarkImage');
        const bookId = {{ book.id }}; // Получаем ID книги из контекста

        fetch(`/add_bookmark/${bookId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => {
            if (response.ok) {
                // Меняем изображение в зависимости от состояния
                if (img.src.includes('common_bookmark.png')) {
                    img.src = "{{ url_for('static', filename='image/bookmark_get.png') }}"; // Закладка добавлена
                } else {
                    img.src = "{{ url_for('static', filename='image/common_bookmark.png') }}"; // Закладка убрана
                }
            }
        });
    }
    function onPageLoad() {
        const img = document.getElementById('bookmarkImage');
        const bookId = {{ book.id }};
        
        // Здесь можно сделать запрос на сервер для проверки наличия закладки
        fetch(`/check_bookmark/${bookId}`)
        .then(response => response.json())
        .then(data => {
            if (data.has_bookmark) {
                img.src = "{{ url_for('static', filename='image/bookmark_get.png') }}"; // Закладка существует
            } else {
                img.src = "{{ url_for('static', filename='image/common_bookmark.png') }}"; // Закладка не существует
            }
        });
    }
    // Запуск функции при загрузке страницы
    document.addEventListener('DOMContentLoaded', onPageLoad);
</script>
<footer class="text  text-white mt-4">
  <div class="container">
    <div class="about-us d-flex flex-wrap align-items-center justify-content-between"> 
      <div>
        <h1>Контакты</h1>
        <p>Телефон: +7999-999-99-99</p>
        <p>Почта: appbooks@gmail.com</p>
      </div>
      <div>
        <h1>Реквизиты</h1>
        <a href="/Main"><img class="header__img" src="{{ url_for('static', filename='image/telegram_theme.png')}}" alt="Телеграм"></a>
        <a href="/Main"><img class="header__img" src="{{ url_for('static', filename='image/vk_theme.png')}}" alt="ВК"></a>
      </div>
    </div>
  </div>
</footer>

{% endblock %}
