{% extends 'base_adm.html' %}

{% block title %}
Изменение книги
{% endblock %}

{% block body %}
<h1 class="item ms-2">Изменение книги</h1>

<form method="post" class="form-control">
    <input type="text" name="title" placeholder="Название книги" class="form-control" value="{{edited.Title}}"><br>
    <input type="text" name="author" placeholder="Автор книги" class="form-control" value="{{edited.Author}}"><br>
    <input type="text" name="about" placeholder="Описание" class="form-control" value="{{edited.About}}"><br>
    <input type="text" name="cover" placeholder="Обложка" class="form-control" value="{{edited.Cover}}"><br>
    <input type="text" name="file_path" placeholder="Путь к файлу" class="form-control" value="{{edited.File_path}}"><br>
    <button class="button-custom" type="submit">Изменить</button>
</form>
{% endblock%}