{% extends 'base_log.html' %}

{% block title %}
Личный кабинет
{% endblock %}

{% block body %}

{% endblock %}
<footer class="text  text-white py-4">
  <div class="container">
    <div class="about-us d-flex flex-wrap align-items-center justify-content-between"> 
      <div>
        <h1>Контакты</h1>
        <p>Телефон: +7999-999-99-99</p>
        <p>Почта: appbooks@gmail.com</p>
      </div>
      <div>
        <h1>Реквизиты</h1>
        <a href="/Main"><img class="header__img" src="static/image/telegram_theme.png" alt="Телеграм"></a>
        <a href="/Main"><img class="header__img" src="static/image/vk_theme.png" alt="ВК"></a>
      </div>
    </div>
  </div>
</footer>
